@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

.post-content h1 {
  font-size: 32pt;
  margin: 1rem 0;
}

.post-content h2 {
  font-size: 28pt;
  margin: 0.8rem 0;
}

.post-content h3 {
  font-size: 26pt;
  margin: 0.6rem 0;
}

.post-content h4 {
  font-size: 16pt;
  margin: 0.4rem 0;
  font-weight: 600;
}

.post-content h5 {
  font-size: 12pt;
  margin: 1rem 0 0;
}

.post-content h6 {
  font-size: 10pt;
  margin: 1rem 0 0;
}

.post-content p {
  font-size: 14pt;
  margin: 1rem 0;
}

.post-content ul {
  margin-left: 2rem;
  list-style-type: disc;
}

.post-content ol {
  margin-left: 2rem;
  list-style-type: decimal;
}

.post-content li {
  font-size: 13pt;
  margin: 10px 0;
}

.post-content a {
  color: #0000ff;
}

.post-content pre {
  background-color: #c9c9c9;
  padding: 10px;
  font-size: 12pt;
  border-radius: 5px;
}
